*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat",sans-serif;
}

#fullscreen-container {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(61, 1, 1);
    z-index: 9999;
}
.complaint-section{
    background: #fff;
    padding: 80px 0;
    text-align: center;
    width: 40%;
    margin: 200px auto auto;
    border-top-right-radius: 300px;
    border-bottom-left-radius: 300px;
    box-shadow: rgba(50, 50, 93, 0.25) 0 6px 12px -2px, rgba(0, 0, 0, 0.8) 0 3px 7px -3px;

}
.complaint-section:hover{
    border-top-left-radius: 300px;
    border-bottom-right-radius: 300px;
    transition: .5s;
}

.inner-width{
    max-width: 500px;
    margin: auto;
    padding: 0 20px;

}

.complaint-section h3{
    font-size: 22px;
    color: #FF8066;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 500;
}

.message{
    background: none;
    border:none;
    outline: none;
    border-bottom: 1px solid #FF8066;
    color: #888;
    padding: 10px 6px;
    font-size: 14px;
    margin-bottom: 40px;
}

.message{
    min-width: 100%;
    max-width: 100%;
}


#submit-btn{
    background: none;
    color: #fff;
    border: 1px solid #FF8066;
    padding: 12px 40px;
    border-radius: 8px;
    background: #FF8066;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
}

#submit-btn:hover{
    background: #fff;
    color: #FF8066;
}
#close-complaint{
    display: flex;
    align-self: flex-end !important;
    color: #fc9e5b;
}
#info{
    margin: 10px;
    padding: 10px;
    font-size: 10px;
}
#close-complaint:hover {
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
#close-complaint:active{
    background-color: white;
    box-shadow: 0 5px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
}
@media screen and (max-width:500px){
    .name,.email{
        width: 100%;
    }
}

