<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title>oLLi - Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="../../static/Style/loginStyle.css" th:href="@{/Style/loginStyle.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<div class="contact-section" style="margin-top: 150px">
    <div class="inner-width">
        <form id="form" method="post">
        <h1>Get in touch with us</h1>
        <label for="nickname"></label>
        <input type="text" class="message" placeholder=" Enter Your Nickname" id="nickname" name="nickname">
        <label for="password"></label>
            <input type="password" class="message" placeholder="Enter Password" id="password" name="password">

        <button id="btn" type="submit">Sign In</button>
        </form>
        <p>Don't have account?</p>
        <a th:href="@{/registration}">registration</a>
    </div>
</div>
</body>
</html>